body /*主页背景统一样式*/
{
	margin: 0px;
	line-height: 1.3;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#F7F7F7;
	background-position: center;
	height: 100%;
}
*
{
	margin: 0px;
	padding: 0px;
}
input, textarea, select, button
{
	color: #444;
	font: 12px/1.6em Verdana,Helvetica,Arial,sans-serif;
}
input, select, button
{
	vertical-align: middle;
	color: #444;
}
form
{
	padding: 0px;
	margin: 0px;
}
div
{
	overflow:hidden;

}
a
{
	text-decoration: none;
	color: #333333;
}
a:hover
{
	text-decoration: none;
}
a img
{
	border: none;
}
img
{
	border: none;
	width:100%;
}
.top
{
	padding-bottom:10px;

	}
.nav
{
	padding-left:10px;
	}
.nav div
{
	float:left;
	padding:6px;
	font-size:14px;
	padding-top:8px;
	padding-bottom:8px;
	color:#55CDE7;
	}
.nav .i
{
	padding:0px;
	padding-top:15px;
	padding-bottom:19px;
	width:1px;
	background-color:#55CDE7;
	}
.nav .on
{
	background-color:#55CDE7;
	color:White;
	}
.number div
{
	text-align:center;
	position:absolute;
	width:100%;
	color:White;
	font-size:20px;
	}
.title
{
	color:#F08311;
	font-size:20px;
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
	}
.travel_content
{
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
	overflow: hidden;
	vertical-align: inherit;
	text-align: left;
	padding:10px;
		}
.travel_content td
{
	vertical-align: top;
}
.travel_content td p
{
	vertical-align: inherit;
}
.day
{	
	padding-top:20px;
	padding-bottom:20px;
	}
.day div
{
	text-align:center;
	position:absolute;
	width:100%;
	color:#55CDE7;
	font-size:24px;
	margin-top:3px;
	}
.day_content
{
	padding-top:10px;
	padding-bottom:10px;
	display:none;
	}
.day_content .box
{
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	}
.day_content .box div
{
	float:left;
	}
.day_content .box .explain
{
	float:inherit;
	}
.day_content .box .explain .t1
{
	color:#55CDE7;
	text-decoration:underline;
	}
.day_content .box .explain .t2
{
	color:#F08311;
	}
.day_content .box .explain div
{
	padding-bottom:5px;
	}
.region
{
	display:none;
	background-color:#E0E0E0;
	}
.footer
{
	margin-top:30px;
	background-color:#55CDE7;
	text-align:center;
	padding-top:20px;
	padding-bottom:30px;
	}
.footer img
{
	width:auto;
	max-width:30px;
	margin:10px;
	}
.footer div
{
	margin-top:20px;
	color:White;
	font-size:12px;
	}
.nav_menu
{
	position: absolute;
    width: 100%; 
    z-index:999999;
    background-image:url('../images/mobile/nav_menu_bj.png');
    display:none;
	}
.nav_menu div
{
	padding: 10px; 
	padding-left: 15px; 
	color:#ffffff;
	border-bottom: 1px solid #79D8EC;
	font-size:18px;
	}
.region .region_content
{
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
	overflow: hidden;
	vertical-align: inherit;
	text-align: left;
	padding:10px;
		}
.region .region_content td
{
	vertical-align: top;
}
.region .region_content td p
{
	vertical-align: inherit;
}
.region .region_contact
{
	font-size:14px;
	padding:10px;
	line-height:25px;
}
.region .region_contact img
{
	width:auto;
}