body img{
    width:100%;
    float:left;
	width:100% !important;
	height:auto !important;
	margin-bottom:20px;
	margin-top:8px;
}
body img.img{
	margin-bottom:10px;
	margin-top:0px;
}
body iframe{
	width:100% !important;
	margin-bottom:0px;
	margin-top:0px;
}
body{
   font-family: Î¢ÈíÑÅºÚ, Microsoft Yahei, Hiragino Sans GB, tahoma, arial, ËÎÌå!important;
}
body span,body div,body p{
    color:#5f5f5f;
	font-size:16px !important; 
	line-height:26px !important;
}
body p{
	margin-top:10px;
	margin-bottom:10px;
	text-align:justify; 
	text-justify:inter-ideograph; 
}
body strong{
	font-size:18px !important;  
}